TOGETHER_API_KEY=<your_together_api_key>
GOOGLE_API_KEY=<your_google_api_key>
GOOGLE_CX_ID=<your_google_cx_id>
POLYGON_API_KEY=<your_polygon_api_key>
WOLFRAM_APP_ID=<your_Wolfarm_app_id>
HUGGINGFACE_HUB_TOKEN=<your_hf_token>